body{
    background-color: #E6E6E6;
}
.clearifix{
    padding-top: 150px;

}

.social-share{
    padding-top: 150px;
    padding-bottom: 20px;
}

.form{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.error{
    color: red;
}
